<!DOCTYPE html>
<html lang="fr">


<head>
    <meta charset="UTF-8">

    {% include 'obj/css/header.html' %}
    {% include 'obj/css/login_css.html' %}

    <title>{{ ia_name }}</title>
</head>

<body>

    <div class="body">

        {% include 'obj/base_title.html' %}

        <form method="post" class="login">

            <h3 class="login-title">Login</h3>

            <input class="login-input" name="id" type="text" placeholder="Id">
            <input class="login-input" name="pwd" type="password" placeholder="Password">
            <input class="btn-login" type="submit" value="connexion">

        </form>

    </div>

    {% include 'obj/base_infos.html' %}

</body>

</html>