
.base-title-div{
    width: fit-content;
    padding: 10px;
    border-color: var(--beige);
    position: absolute;
    top: 10px;
    left: 10px;

    border-radius: 1em;
    -moz-box-shadow:    0px 0px 5px 1px var(--beige);
  	-webkit-box-shadow: 0px 0px 5px 1px var(--beige);
  	box-shadow:         0px 0px 5px 1px var(--beige);
}

.base-title-div:hover{
    -moz-box-shadow:    0px 0px 5px 1px var(--orange);
  	-webkit-box-shadow: 0px 0px 5px 1px var(--orange);
  	box-shadow:         0px 0px 5px 1px var(--orange);
}